body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.masthead{
    background-color: black;
    color: white;
    padding: 30px 0;
    text-align: center;
    margin: 0;
}

.intro{
    margin: 0;
    padding: 0;
    background-color: teal;
    text-align: center;
    padding: 20px 0;
    color: white;
    font-weight: bold;
}

#original-text{
    font-size: 14pt;
    text-align: center;
    padding: 5px 0;
    background-color: gainsboro;
}

.test-wrapper{
    text-align: center;
    padding: 10px 0;
}

#test-area{
    width: 500px;
    border: 2px solid darkorange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 10px;
}

.meta{
    text-align: center;
}

.timer{
    font-size: 20pt;
    font-weight: 600;
}

#reset{
    height: 40px;
    width: 120px;
    margin-top: 5px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkorange;
    border: none;
    font-weight: 500;
    border-radius: 5px;
}

#reset:hover{
    background-color: teal;
    color: white;
}